html
    head
        title My fist Jade File
    body
        h2 This is the first jade file.
        hr
        ul
        - for(i=0; i<3; i++)
            li 안녕하세요? ^^;
        a(href="http://www.naver.com") naver...

