<html>
<head>
    <title>Embedded App</title>
    <meta charset="utf8">
</head>
<body>
<h2>임베디드시스템제어</h2>
<hr>
<h3>사운드센서 측정 기준값 설정</h3>
<hr>
기준값 <input type="number" value="<%= number %>" />
<hr>
<input type="submit" value="기준값설정" />
</body>
</html>