<html>
<head></head>
<body bgcolor="yellow">
<h2 align="center">임베디드 액츄레이터 제어</h2>
<p>
    <table border="0" width="500" cellspacing="10">
        <tr>
            <td align="right">LED1</td>
            <td align="right"><a href="led1/1">ON</a></td>
            <td align="right"><a href="led1/0">OFF</a></td>
            <td><font color="<%= led1color %>">●</font></td>
        </tr>
        <tr>
            <td align="right">BUZZER</td>
            <td align="right"><a href="buzzer/1">ON</a></td>
            <td align="right"><a href="buzzer/0">OFF</a></td>
            <td><font color="<%= buzzercolor %>">●</font></td>
        </tr>
    </table>
</p>

<h2 align="center">임베디드 센서 제어</h2>
<p>
    <table border="0" width="450" cellspacing="10">
    <tr>
        <td align="right">광센서</td>
        <td align="right"><a href="light/1">측정시작</a></td>
        <td align="right"><a href="light/0">측정중단</a></td>
        <td align="right"><a href="light/2" target="_new">측정값보기</a></td>
        <td><font color="<%= lightcolor %>">●</font></td>
    </tr>
</table>
</p>
</body>
</html>