<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.onload = () => {
            var socket = io.connect();
            var dataview = document.getElementById('dataview');
            var html = '';

            socket.on('watch', (data) => {
                html += '<b>' + data + '</b>' + '<br>';
                dataview = html;
            });

            document.getElementById('startBtn').onclick = () => {
                var text = document.getElementById('text').value;
                socket.emit('start', text);
            };

            document.getElementById('stopBtn').onclick = () => {
                socket.emit('stop');
            };

        }
    </script>
</head>
<body bgcolor="#7fffd4">
<h2>거리측정제어(초음파센서제어)</h2>
<hr>
<h3>측정주기 설정 및 가동</h3>
<h5>측정주기 입력범위: 500~1000(단위: ms) 입력값으로 조정가능</h5>
<hr>
<input type="text" id="text" value="800" />ms
<input type="button" id="startBtn" value="초음파센서가동" />
<input type="button" id="stopBtn" value="초음파센서중지" />
<hr>
<p id="dataview">초음파센서가동시 이곳에 측정거리값이 출력됩니다..</p>
</body>
</html>