<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h2>광센서 측정값</h2>
<hr>
<table>
    <tr>
        <% lightdata.forEach(function(element, i){ %>
            <td color="red"><%= element %></td>
        <% }); %>
    </tr>
</table>

</body>
</html>